//折叠框样式
.lf-collapse {
	border-top: 1px solid var(--collapse-border-color);
	border-bottom: 1px solid var(--collapse-border-color);
  &-head {
		cursor: pointer;
		user-select: none;
		&-text{
			box-sizing: border-box;
			padding: 10px 20px;
		}
  }
	&-body{
		&-artical {
			overflow: hidden;
			word-wrap: break-word;
			.artical-content{
				padding: 5px 20px 20px 20px;
			}
		}
	}
  .unshow {
		padding: 0;
    height: 0;
	}
	.lf-collapse-body-artical{
		&::-webkit-scrollbar {
			/*滚动条整体样式*/
			width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
			height: 1px;
		}
		&::-webkit-scrollbar-thumb {
				/*滚动条里面小方块*/
				background   :rgba(99, 99, 99, 0.2);
		}
		&::-webkit-scrollbar-track {
				/*滚动条里面轨道*/
				background   : rgba(255, 255, 255, 0.1);
		}
	}
}