
:root{
	//常规按钮样式
	--primary-button-background-color:rgb(24, 144, 255);
	--primary-button-font-color:rgb(255, 255, 255);
	--primary-button-hover-font-color:rgb(255, 255, 255);
	--primary-button-hover-color:rgb(64, 169, 255);
	--primary-button-shadow:royalblue;
	//折叠框样式
	--collapse-border-color:#f0f0f0;
	//示例块样式
	--demo-box-border-color:#f0f0f0;
	--demo-box-shadow:rgba(0, 0, 0,.1);
	--demo-background:#fff;
	--demo-box-active:#1d92ff;

}
