$collapse-border-color:#999;
html,body,#app {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
//折叠框样式
.lf-collapse {
  &-head {
    border-top: 1px solid $collapse-border-color;
		cursor: pointer;
		&-text{
			box-sizing: border-box;
			padding: 10px 20px;
		}
  }
  
	&-body{
		border-bottom: 1px solid $collapse-border-color;
		&-artical {
			overflow: hidden;
			word-wrap: break-word;
			.artical-content{
				padding: 5px 20px 20px 20px;
			}
		}
	}
  .unshow {
		padding: 0;
    height: 0;
  }
}